<div>

  <md-content flex>
  <!--<md-content layout="column" layout-align="center center" flex>-->
    <header>
      <h1 class="text-center">Huffman Encoder</h1>
    </header>

    <md-tabs md-stretch-tabs="always" md-dynamic-height="true">
      <md-tab label="Encoder">
        <md-tab-body>
          <md-input-container class="md-block" flex>
            <label>Text to be encoded</label>
            <textarea ng-model="text" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        
          <md-button ng-click="encode()" class="md-raised md-primary">Encode</md-button>
        
          <div ng-if="charToCode">
              <h2>Result:</h2>
              <pre>{{ code }}</pre>
            
              <table>
                  <thead>
                      <tr>
                          <th>Character</th>
                          <th>Corresponding Code</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="(cha, code) in charToCode">
                          <td>{{ cha }}</td>
                          <td>{{ code }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab label="Decoder">
        <md-tab-body>
          <div>
              <md-input-container class="md-block" flex>
                <label>Encoded Text</label>
                <textarea ng-model="encodedText" rows="5" md-select-on-focus></textarea>
              </md-input-container>
            
              <table>
                  <thead>
                      <tr>
                        <th>Character</th>
                        <th>Corresponding Code</th>
                        <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="pair in dictArr">
                        <td>
                          <md-input-container class="md-block" flex>
                            <label>Character</label>
                            <input type="text" ng-model="pair.char">
                          </md-input-container>
                        </td>
                        <td>
                          <md-input-container class="md-block" flex>
                            <label>Code</label>
                            <input type="text" ng-model="pair.code">
                          </md-input-container>
                        </td>
                        <td>
                          <md-button ng-click="removePair($index)" class="md-raised md-primary">Remove Pair</md-button>
                        </td>
                      </tr>
                      <tr>
                          <td colspan="3">
                              <md-button ng-click="pushPairToDict()" class="md-raised md-primary">Add Pair</md-button>
                              <md-button ng-click="decode()" class="md-raised md-primary">Decode</md-button>
                          </td>
                      </tr>
                  </tbody>
              </table>
            
              <div ng-if="textDecoded">
                <h2>Decoded Text</h2>
                <pre>{{ textDecoded }}</pre>
              </div>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>

</div>
