<div>

  <md-content layout="column" layout-align="center center" flex>
    <header>
      <h1 class="text-center">Huffman Encoder</h1>
    </header>

    <md-tabs md-stretch-tabs="always">
      <md-tab label="Encoder">
        <md-tab-body>
            <p>x</p>
          <!--<md-input-container class="md-block" flex>-->
            <!--<label>Text to be encoded</label>-->
            <!--<textarea ng-model="text" rows="5" md-select-on-focus></textarea>-->
          <!--</md-input-container>-->
        
          <!--<md-button ng-click="encode()" class="md-raised md-primary">Encode</md-button>-->
        
          <!--<div ng-if="charToCode">-->
              <!--<h2>Result:</h2>-->
              <!--<pre>{{ code }}</pre>-->
            
              <!--<table>-->
                  <!--<thead>-->
                      <!--<tr>-->
                          <!--<th>Character</th>-->
                          <!--<th>Corresponding Code</th>-->
                      <!--</tr>-->
                  <!--</thead>-->
                  <!--<tbody>-->
                      <!--<tr ng-repeat="(cha, code) in charToCode">-->
                          <!--<td>{{ cha }}</td>-->
                          <!--<td>{{ code }}</td>-->
                      <!--</tr>-->
                  <!--</tbody>-->
              <!--</table>-->
          <!--</div>-->
        </md-tab-body>
      </md-tab>

      <md-tab label="Decoder">
        <md-tab-body>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
            sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          </p>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </md-content>

</div>
